#labelFIrst{
    background-image:url(:/images/res/images/carousel/1.png);
}
#labelSecond{
    background-image:url(:/images/res/images/carousel/2.png);
}
#labelThird{
    background-image:url(:/images/res/images/carousel/3.png);
}
#labelForth{
    background-image:url(:/images/res/images/carousel/4.png);
}
#labelFifth{
    background-image:url(:/images/res/images/carousel/5.png);
}
#labelFifth,#labelForth,#labelThird,#labelSecond,#labelFIrst{
    background-repeat: no-repeat;
    background-position: center right;
    background-color:#00214c;
    border-top-left-radius:16px;
    border-bottom-left-radius:16px;
}
QPushButton {
    background-color:#ffffff;
    min-height:6px;
    padding:0;
}
#pushButtonPre,#pushButtonNext{
    background: transparent;
    color:white;
    min-height:2em;
}

