#LeftTopBarContainer{
	max-height:28px;
	min-height:28px;
	background-color:#070C15;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	border-top:1px solid rbga(0,0,0,128);
}

#shrinkFrame{
	border-right:1px solid #000000;
	max-width:40px;
	min-width:40px;
	background-color:transparent;
	padding-left:0px;
}

#shrinkButton{
	height:20px;
	width:20px;
	margin:0px 0px 0px 0px;
        background-color:#070C15;
        border-image:url(:/images/res/images/lefttopbar/shrinkButton_max.png);
}

#shrinkButton:hover{
	height:20px;
        width:20px;
	background-color:#070C15;
        border-image:url(:/images/res/images/lefttopbar/shrinkButton_max_sle.png);
}

#shrinkButton:checked{
	height:20px;
	width:20px;
	margin:0px 0px 0px 0px;
	background-color:#070C15;
        border-image:url(:/images/res/images/lefttopbar/shrinkButton_min.png);
}

#shrinkButton:checked:hover{
	height:20px;
        width:20px;
	background-color:#070C15;
        border-image:url(:/images/res/images/lefttopbar/shrinkButton_min_sle.png);
}

#collectButton{
	height:20px;
        width:20px;
	background-color:#070C15;
        border-image:url(:/images/res/images/lefttopbar/collect.png);
}

#collectButton:checked{
        border-image:url(:/images/res/images/lefttopbar/collect_sle.png);
}

#lockButton{
	height:20px;
        width:20px;
	background-color:#070C15;
        border-image:url(:/images/res/images/lefttopbar/lock.png);
}

#lockButton:checked
{
        border-image:url(:/images/res/images/lefttopbar/lock_sle.png);
}

#revertButton{
	height:20px;
        width:20px;
	background-color:#070C15;
        border-image:url(:/images/res/images/lefttopbar/revert.png);
}

#revertButton:!enabled
{
	background-color:#070C15;
        border-image:url(:/images/res/images/lefttopbar/revert_unable.png);
}

#saveLayoutButton{
	height:20px;
        width:20px;
	background-color:#353F52;
        border-image:url(:/images/res/images/lefttopbar/saveLayout.png);
}
