QPushButton#pb_password {
    padding-right:5px;
    text-align:center;
    background:transparent;
    width:16px;
    height:16px;
    image: url(:/images/res/images/login/invisible.png);
}

QPushButton#pb_password::checked {
    image: url(:/images/res/images/login/visible.png);
}
