#logo
{
    font-size:12pt;
    margin-left:8px;
    font:bold;
}
QPushButton {
    width:16px;
    height:16px;
    border:none;
    border-radius:0px;
    background: transparent;
}
#minimizeBtn:hover{
    color:#FFC107;
}
#closeBtn:hover{
    color:#F44336;
}
#maxBtn:hover{
    color:#8BC34A;
}
