QLabel#label_ipv6
{
    background-color:transparent;
    color:rgb(255,215,0);
    font-size: 8pt;
    border: 1px solid rgb(255,215,0);
    border-radius:3px;
    qproperty-alignment: AlignCenter;
}
#label_user,#label_password,#label_key{
    border: 2px solid rgb(159,183,212);
    border-right:none;
    border-top-left-radius:6px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:6px;
}
#pushButton_Mini,#pushButton_Close
{
    background: transparent;
    color:rgb(159,183,212);
}
QLineEdit {
    background-color:transparent;
    border: 2px solid rgb(159,183,212);
    border-top-left-radius:0px;
    border-top-right-radius:6px;
    border-bottom-right-radius:6px;
    border-bottom-left-radius:0px;
    font-size: 9pt;
    color: #dadada;
    padding-left: 10px;
}
QLineEdit:focus{
    border: 2px solid white;
}
QLineEdit:hover{
    border: 2px solid white;
}



